<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/static/main.css' />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BudgetDb</title>
</head>

<body>
<div class="Calculation">
    <h1>Please fill out this form so I can update the database</h1>
    <form action="/" method="POST">
        <label><b>Budget: </b></label>
        <input type="Number" name="Budget" placeholder="0">
        <label><b>Spent: </b></label>
        <input type="Spending" name="Spent" placeholder="0">
        <label><b>Slot ID: </b></label>
        <input type="Number" name="slot_id" placeholder="0">
        <button type="submit" value="submit">Convert</button>
    </form>

    <h1>Fill out this part if you want to delete a specific part</h1>
    <form action="/delete" method="POST">
        <label><b>ID: </b></label>
        <input type="Number" name="slot_id" placeholder="0">
        <button type="submit" value="submit">DELETE</button>
    </form>

    <table>
        <tr>
            <th>Budget</th>
            <th>Spent</th>
            <th>Remaining</th>
            <th>ID</th>
        {% for row in ro %}
        <tr>
          <th> {{ row[0] }}</th> <th>{{row[1]}}</th> <th>{{row[2]}}</th> <th>{{row[3]}}</th>
        </tr> 
        {% endfor %}
    </table>
</div>

